@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap");

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

@font-face {
  font-family: "PF Din Text Cond Pro";
  font-display: swap;
  src: url("../fonts/pfdintextcondpro-medium.woff") format("woff"), url("../fonts/pfdintextcondpro-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PF Din Text Cond Pro";
  font-display: swap;
  src: url("../fonts/pfdintextcondpro-regular.woff") format("woff"), url("../fonts/pfdintextcondpro-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ceremonious One";
  font-display: swap;
  src: url("../fonts/ceremonious_one.woff") format("woff"), url("../fonts/ceremonious_one.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Idealist Sans";
  font-display: swap;
  src: url("../fonts/idealistsans.regular.woff") format("woff"), url("../fonts/idealistsans.regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bravo RG";
  font-display: swap;
  src: url("../fonts/bravorg.woff") format("woff"), url("../fonts/bravorg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ALSRubl";
  font-display: swap;
  src: url("../fonts/alsrubl.woff") format("woff"), url("../fonts/alsrubl.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* ---------Reset Styles--------- */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* vertical-align: baseline; */
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------End of reset styles--------------------*/

:root {
  font-family: 'PT Sans', sans-serif, serif;
  font-size: 16px;
}

.body_lock {
  overflow: hidden;
}

.container {
  margin: 0 auto;
}

.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ibg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.swiper-container {
  overflow: hidden;
}

.swiper-container > .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height,-webkit-transform;
  transition-property: height,-webkit-transform;
  -o-transition-property: transform,height;
  transition-property: transform,height;
  transition-property: transform,height,-webkit-transform;
}

.container {
  padding: 0 16px;
  max-width: 988px;
  margin: 0 auto;
}

.header__navbar {
  position: fixed;
  z-index: 50;
  width: 100%;
}

.navbar {
  background-color: #1c242a;
  padding-top: 19px;
  padding-bottom: 21px;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__brand {
  white-space: nowrap;
}

.navbar__brand img {
  vertical-align: bottom;
}

.navbar__brand > img {
  padding-left: 5px;
}

.navbar__collapse {
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.navbar__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

.navbar__user-menu {
  margin-left: 15px;
}

.nav__item {
  text-align: center;
}

.nav__link {
  color: #ffffff;
  font-family: "PF Din Text Cond Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.nav__link:hover {
  color: #bb9c66;
  border-bottom: 1px dashed #bb9c66;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.lang__link {
  color: #bb9c66;
  font-family: "PF Din Text Cond Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  border-bottom: 1px dashed #bb9c66;
}

.lang__link:not(:first-child) {
  margin-left: 12px;
}

.search__img {
  vertical-align: middle;
}

.search__text {
  display: none;
}

.user-menu__logo-1 {
  vertical-align: middle;
}

.user-menu__logo-2 {
  vertical-align: middle;
  padding-left: 7px;
}

.user-menu__collapse {
  background-color: #1c242a;
  position: absolute;
  right: 0;
  top: 45px;
  visibility: hidden;
  opacity: 0;
  padding-top: 8px;
  width: 176px;
  min-height: 125px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.user-menu:hover .user-menu__collapse {
  visibility: visible;
  opacity: 1;
}

.nav-1__item {
  display: block;
}

.nav-1__holder {
  width: 30px;
  text-align: center;
  padding-right: 13px;
}

.nav-1__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  padding-left: 20px;
}

.nav-1__link img {
  vertical-align: middle;
}

.nav-1__link:hover {
  text-decoration: underline;
  color: #bb9c66;
}

.main-slider {
  padding-top: 73px;
  position: relative;
}

.main-slider__box {
  position: relative;
  overflow: hidden;
  list-style: none;
  z-index: 1;
}

.main-slider__body {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.main-slider__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.main-slider__controls {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 0;
  width: 100px;
  height: 100px;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-slider__controls::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 70%;
  height: 70%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-slider__left-arrow,
.main-slider__right-arrow,
.main-slider__middle {
  position: relative;
  z-index: 1;
}

.main-slider__left-arrow {
  padding-right: 12px;
}

.main-slider__right-arrow {
  padding-right: 12px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.main-slider__middle {
  -webkit-animation: rotate 3s infinite linear;
          animation: rotate 3s infinite linear;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.slide {
  min-height: 425px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 40px 16px 100px;
}

.slide__text {
  max-width: 800px;
  color: #bb9c66;
  font-family: "Ceremonious One";
  font-size: 40px;
  font-weight: 400;
  line-height: 25px;
}

.slide__header {
  max-width: 800px;
  margin: 20px 0 15px;
  color: #ffffff;
  font-family: "PF Din Text Cond Pro";
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: normal;
}

.slide__info {
  max-width: 700px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 40px;
  text-align: center;
}

.slide__btn {
  padding: 17px 16px;
  min-width: 250px;
  color: #ffffff;
  font-family: "Idealist Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, rgba(187, 156, 102, 0.15)), color-stop(51%, transparent));
  background-image: -o-linear-gradient(transparent 0%, rgba(187, 156, 102, 0.15) 50%, transparent 51%);
  background-image: linear-gradient(transparent 0%, rgba(187, 156, 102, 0.15) 50%, transparent 51%);
}

.slide__btn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(187, 156, 102, 0.8)));
  background-image: -o-linear-gradient(transparent 0%, rgba(187, 156, 102, 0.8));
  background-image: linear-gradient(transparent 0%, rgba(187, 156, 102, 0.8));
}

.btn {
  border: 3px solid transparent;
  -o-border-image: -o-linear-gradient(#c3a774, #8c632d) 10%;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#c3a774), to(#8c632d)) 10%;
     border-image: linear-gradient(#c3a774, #8c632d) 10%;
}

/* Section "LOTS" */

.lots.container {
  padding-bottom: 63px;
  overflow: hidden;
}

.heading {
  text-align: center;
}

.heading__subtitle {
  color: #bb9c66;
  font-family: "Ceremonious One";
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 37px;
}

.heading__title {
  color: #1c242a;
  font-family: "PF Din Text Cond Pro";
  font-size: 35px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5.25px;
  margin-bottom: 29px;
}

.heading__decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.heading__decor-middle {
  margin: 0 50px;
  display: block;
}

.heading__decor-right {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.lots__top {
  padding-top: 90px;
}

.lots__slider {
  padding-top: 42px;
  margin: -20px;
}

.lots__nav {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lots__arrow {
  position: relative;
  padding-right: 55px;
}

.lots__arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 1px;
  width: 40px;
  background-color: #bb9c66;
}

.lots__arrow::after {
  content: "";
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 11px;
  width: 11px;
  border-radius: 50%;
  border: 1px solid #bb9c66;
}

.lots__arrow_right {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.lots__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #bb9c66;
  color: #000000;
  font-family: "PF Din Text Cond Pro";
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  text-transform: uppercase;
}

.lots__link:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(187, 156, 102, 0.8)));
  background-image: -o-linear-gradient(transparent 0%, rgba(187, 156, 102, 0.8));
  background-image: linear-gradient(transparent 0%, rgba(187, 156, 102, 0.8));
}

.lot-item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.lot-item__photo {
  display: block;
  position: relative;
  padding-top: 100%;
  width: 100%;
  border: 3px solid #bb9c66;
}

.lot-item__triangle {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

.lot-item__triangle::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  height: 0;
  width: 0;
  border-bottom: solid 50px white;
  border-left: solid 50px transparent;
  border-right: solid 50px transparent;
}

.lot-item__img {
  position: relative;
  z-index: 1;
  margin-bottom: 5px;
}

.lot-item__timer {
  position: relative;
  z-index: 1;
  font-family: "PT Sans Narrow";
  color: black;
  font-size: 18px;
  margin-bottom: -6px;
}

.lot-item__label {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: block;
  font-family: "PF Din Text Cond Pro";
  color: black;
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  text-transform: uppercase;
  padding: 25px 8px 0;
  text-align: center;
}

.lot-item__label:hover {
  text-decoration: underline;
  color: #c3a774;
}

.lot-item__btn {
  margin-top: 35px;
  padding: 10px 27px 9px 27px;
  color: #000000;
  font-family: "PF Din Text Cond Pro";
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  text-transform: uppercase;
}

.lot-item__btn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(187, 156, 102, 0.8)));
  background-image: -o-linear-gradient(transparent 0%, rgba(187, 156, 102, 0.8));
  background-image: linear-gradient(transparent 0%, rgba(187, 156, 102, 0.8));
}

.lot-info {
  padding: 25px 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lot-info__views,
.lot-info__rates {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
}

.lot-info__views::after,
.lot-info__rates::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  width: 50px;
  height: 1px;
  background-color: #bb9c66;
}

.lot-price {
  white-space: nowrap;
  position: relative;
  text-align: center;
}

.lot-price::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 15px;
  -webkit-transform: translate(-50%) rotate(45deg);
      -ms-transform: translate(-50%) rotate(45deg);
          transform: translate(-50%) rotate(45deg);
  width: 71px;
  height: 71px;
  border: 1px solid #bb9c66;
}

.lot-price__top {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.lot-price__price {
  position: relative;
  z-index: 1;
  padding-top: 17px;
  color: #1c242a;
  font-family: "Bravo RG";
  font-size: 50px;
  font-weight: 400;
  line-height: 21px;
}

.lot-price__currency {
  padding-top: 13px;
  font-family: "ALS Rubl";
  font-size: 14px;
}

.categories {
  padding-bottom: 30px;
}

.categories__container {
  max-width: 250px;
  overflow: hidden;
  margin: 0 auto;
}

.categories__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -47px;
  padding-top: 37px;
}

.categories__col {
  padding: 0 50px 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories__col::after {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  width: 10px;
  height: 10px;
  background-color: #bb9c66;
  border-radius: 50%;
}

.categories__col:first-child::after {
  content: none;
}

.categories__col:last-child .categories__decor {
  display: none;
}

.categories__decor {
  position: absolute;
  right: -5px;
  width: 10px;
  height: 10px;
  background-color: #bb9c66;
  border-radius: 50%;
}

.categories__decor p {
  position: relative;
}

.categories__decor p::after,
.categories__decor p::before {
  content: "";
  position: absolute;
  left: -4px;
  border: 1px solid #bb9c66;
  width: 17px;
  height: 17px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.categories__decor p::after {
  top: -153px;
}

.categories__decor p::before {
  bottom: -164px;
}

.categories__decor::before,
.categories__decor::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  height: 100px;
  width: 1px;
  background-color: #bb9c66;
}

.categories__decor::before {
  bottom: 30px;
}

.categories__decor::after {
  top: 30px;
}

.categories__information {
  margin-top: 0;
  padding: 4px 0 20px;
}

.categories__information > p {
  color: #333333;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.cat-item {
  position: relative;
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
}

.cat-item:hover .ibg {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.cat-item .ibg {
  -webkit-transition: 1s linear;
  -o-transition: 1s linear;
  transition: 1s linear;
}

.cat-item__overlay {
  padding-bottom: 38px;
  background-color: rgba(28, 36, 42, 0.7);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cat-item__ico {
  padding-top: 24px;
}

.cat-item p {
  padding-top: 28px;
  color: white;
  font-family: "PF Din Text Cond Pro";
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 2.1px;
  text-align: center;
  max-width: 200px;
}

.cat-item__decor {
  margin-top: auto;
  position: relative;
}

.cat-item__decor span {
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #bb9c66;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cat-item__decor::before,
.cat-item__decor::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 25px;
  height: 1px;
  background-color: #bb9c66;
}

.cat-item__decor::after {
  left: -36px;
}

.cat-item__decor::before {
  right: -36px;
}

.heading__title_white {
  color: white;
}

.services {
  background-color: #1c242a;
}

.services__top {
  padding-top: 60px;
}

.services__row {
  padding-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  padding-bottom: 102px;
}

.se-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-align: center;
}

.se-item__picture {
  position: relative;
  width: 200px;
  height: 200px;
}

.se-item__picture img {
  z-index: auto;
}

.se-item__title {
  padding-top: 6px;
  color: #ffffff;
  font-family: "PF Din Text Cond Pro";
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  text-transform: uppercase;
  /* Text style for "Экспертная" */
  letter-spacing: 2.1px;
}

.se-item__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 24px;
  color: #bb9c66;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.se-item__link {
  position: relative;
  margin-top: 28px;
  color: #ffffff;
  font-family: "PF Din Text Cond Pro";
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 2.12px;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.se-item__link::before,
.se-item__link::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 50px;
  height: 1px;
  background-color: #bb9c66;
}

.se-item__link::before {
  left: -65px;
}

.se-item__link::after {
  right: -65px;
}

.se-item__link:hover {
  color: #bb9c66;
}

.quotes {
  overflow: hidden;
  padding-bottom: 19px;
}

.quotes__top {
  padding-top: 64px;
}

.quotes__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -43px;
}

.quotes__row_p {
  padding-top: 75px;
}

.quotes__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  padding: 0 43px 56px;
}

.quotes__title {
  font-family: "PF Din Text Cond Pro";
  font-size: 35px;
  font-weight: 500;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  white-space: nowrap;
}

.quotes__title span {
  padding-left: 6px;
}

.quotes__item {
  padding-top: 24px;
}

.quotes__form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 30px;
}

.quotes__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.quotes__control div:first-child,
.quotes__control div:last-child {
  position: relative;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #bb9c66;
}

.quotes__control div:first-child::before,
.quotes__control div:last-child::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 107px;
  height: 1px;
  background-color: #bb9c66;
}

.quotes__control div:first-child {
  margin-right: 52px;
}

.quotes__control div:first-child::before {
  right: 16px;
}

.quotes__control div:last-child {
  margin-left: 52px;
}

.quotes__control div:last-child::before {
  left: 16px;
}

.quotes__button {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #bb9c66;
}

.quotes__button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(187, 156, 102, 0.3)));
  background-image: -o-linear-gradient(transparent 0%, rgba(187, 156, 102, 0.3));
  background-image: linear-gradient(transparent 0%, rgba(187, 156, 102, 0.3));
}

.q-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.q-slide__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 21.55%;
          flex: 0 1 21.55%;
  padding-top: 30px;
}

.q-slide__picture .q-slide__img {
  width: 100%;
}

.q-slide__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 59%;
          flex: 0 1 59%;
  padding-top: 10px;
}

.q-slide__quote {
  font-size: 25px;
  line-height: 30px;
}

.q-slide__author,
.q-slide__years {
  white-space: nowrap;
  color: #1c242a;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.q-slide__author {
  padding-top: 27px;
}

.q-form {
  border: 3px solid #bb9c66;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.q-form input[type="email"] {
  padding: 11px 26px;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  width: 100%;
}

.q-form input[type="email"]::-webkit-input-placeholder {
  color: #4f4f4f;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.q-form input[type="email"]::-moz-placeholder {
  color: #4f4f4f;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.q-form input[type="email"]:-ms-input-placeholder {
  color: #4f4f4f;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.q-form input[type="email"]::-ms-input-placeholder {
  color: #4f4f4f;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.q-form input[type="email"]::placeholder {
  color: #4f4f4f;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.q-form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 11px 20px;
  height: 100%;
  color: #1c242a;
  font-family: "PF Din Text Cond Pro";
  font-size: 21px;
  font-weight: 500;
  line-height: 25.28px;
  text-transform: uppercase;
  letter-spacing: 2.12px;
}

.q-form button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 1px;
  height: 32px;
  background-color: #bb9c66;
}

.q-form button span {
  display: block;
  padding-right: 7px;
}

.q-form button img {
  padding-top: 4px;
}

.q-form button:hover {
  color: #bb9c66;
}

.q-item__date {
  color: #bb9c66;
  line-height: 25px;
  font-size: 12px;
}

.q-item__title {
  display: block;
  padding-top: 4px;
  color: #333333;
  font-weight: 700;
  text-decoration: underline;
}

.q-item__text {
  padding-top: 4px;
  line-height: 25px;
}

.footer {
  background-color: #1c242a;
  padding-bottom: 40px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__col {
  padding-top: 40px;
}

.footer__contacts {
  white-space: nowrap;
  text-align: center;
}

.footer__contacts a {
  display: block;
}

.footer__phone {
  color: #bb9c66;
  font-family: "Bravo RG";
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
  /* Text style for "+7" */
}

.footer__phone small {
  font-size: 25px;
  vertical-align: super;
}

.footer__callback {
  padding-top: 5px;
  color: #bb9c66;
  font-size: 14px;
  font-weight: 400;
}

.footer__callback img {
  vertical-align: baseline;
}

.footer__callback span {
  margin-left: 5px;
  border-bottom: 1px dashed #bb9c66;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -15px;
}

.footer__item {
  padding-right: 15px;
}

.footer__link {
  color: #ffffff;
  font-family: "PF Din Text Cond Pro";
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
  text-transform: uppercase;
  /* Text style for "Главная" */
  letter-spacing: 1.4px;
}

.footer__link:hover {
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  color: grey;
}

.footer__brend {
  white-space: nowrap;
  text-align: center;
}

.footer__logo .rotateY {
  height: 41px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.footer__logo > img {
  height: 36px;
  vertical-align: bottom;
  margin-left: -5px;
}

.footer__copyrights {
  padding-top: 27px;
  color: #bb9c66;
  font-size: 14px;
  font-weight: 400;
}

@media only screen and (min-width: 480px) {
  .categories__information {
    background-image: url("../img/categories/bg.png");
    background-size: 4rem;
    background-repeat: repeat-y;
    padding-left: 80px;
    background-position: 0 3px;
  }
}

@media only screen and (min-width: 576px) {
  .slide__header {
    font-size: 30px;
    letter-spacing: 3.25px;
    margin: 23px 0 27px;
  }

  .slide__info {
    margin-bottom: 58px;
  }

  .lots__arrow {
    padding-right: 124px;
  }

  .lots__arrow::before {
    width: 108px;
  }

  .lots__arrow::after {
    right: 25px;
  }

  .lot-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .categories__information {
    padding-left: 100px;
    background-size: auto;
  }

  .quotes__control {
    padding: 0;
  }

  .q-slide {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .q-slide__picture {
    padding: 0;
  }

  .q-slide__text {
    padding: 0;
  }
}

@media only screen and (min-width: 650px) {
  .quotes__col {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media only screen and (min-width: 655px) {
  .categories__container {
    max-width: 675px;
  }

  .categories__col:nth-child(2)::after {
    content: none;
  }
}

@media only screen and (min-width: 768px) {
  .body_lock {
    overflow: auto;
  }

  .toggler {
    display: none;
  }

  .navbar__collapse {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    display: block;
  }

  .navbar__nav {
    margin-left: 6.91415%;
    margin-right: 4.11557%;
  }

  .navbar__search {
    margin-left: 20px;
  }

  .navbar__user-menu {
    margin-left: 25px;
  }

  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .user-menu {
    position: relative;
  }

  .slide__header {
    font-size: 35px;
    letter-spacing: 5.25px;
  }

  .lot-item {
    -ms-flex-preferred-size: 33.3333%;
        flex-basis: 33.3333%;
  }

  .categories {
    padding-bottom: 77px;
  }

  .categories__information {
    padding-left: 130px;
    margin-top: 72px;
  }

  .services__col {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }

  .footer {
    padding-bottom: 50px;
  }

  .footer__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .footer__col {
    padding-top: 45px;
  }

  .footer__col:first-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .footer__col:last-child {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .footer__contacts {
    padding-top: 7px;
  }

  .footer__callback {
    text-align: right;
  }

  .footer__navbar {
    padding: 7px 23px 0;
  }

  .footer__nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .footer__link {
    font-size: 14px;
    line-height: 25px;
  }
}

@media only screen and (min-width: 988px) {
  .lots__slider {
    margin: 0 -50px;
  }

  .lot-item {
    padding: 0 50px;
  }
}

@media only screen and (min-width: 992px) {
  .navbar__nav {
    margin-left: 13.49905%;
    margin-right: 8.23113%;
  }

  .search__text {
    display: inline;
    padding-left: 8px;
    color: #bb9c66;
    font-family: "PF Din Text Cond Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
  }

  .services__col {
    -ms-flex-preferred-size: 26.35%;
        flex-basis: 26.35%;
  }
}

@media only screen and (min-width: 1005px) {
  .categories__container {
    max-width: none;
  }

  .categories__col:nth-child(2)::after,
  .categories__col:nth-child(3)::after {
    content: none;
  }
}

@media only screen and (max-width: 767px) {
  .toggler {
    -ms-flex-item-align: center;
        align-self: center;
    position: relative;
    width: 30px;
    height: 20px;
    background-color: transparent;
  }

  .toggler::after,
  .toggler__icon,
  .toggler::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #bb9c66;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
  }

  .toggler::after {
    top: 0;
  }

  .toggler__icon {
    top: 9px;
  }

  .toggler::before {
    bottom: 0;
  }

  .toggler_active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 9px;
  }

  .toggler_active .toggler__icon {
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
  }

  .toggler_active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 9px;
  }

  .collapse_active {
    visibility: visible !important;
    opacity: 1 !important;
    overflow-y: auto;
  }

  .navbar__collapse {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: rgba(28, 36, 42, 0.96);
    top: 73px;
    left: 0;
    height: 100vh;
    width: 100%;
  }

  .nav {
    padding-top: 1rem;
  }

  .nav__link {
    font-size: 24px;
    line-height: 60px;
  }

  .lang {
    padding-top: 1rem;
    text-align: center;
  }

  .user-menu__collapse {
    width: 100%;
    top: 76px;
  }
}

@media only screen and (min-width: 480px){

  .webp .categories__information{ background-image: url(../img/categories/bg.webp); }
}